<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/css/sideparstylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="~/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-2">
                <div class="sidebar shadow">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center active" asp-action="index" asp-controller="Home">
                                <i class="fa-solid fa-house me-2"></i> <!-- "me-2" adds some margin on the right side of the icon -->
                                DashBoard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" href="#">
                                <i class="fa-solid fa-minus me-2"></i> <!-- "me-2" adds some margin on the right side of the icon -->
                                Sales
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" href="#">
                                <i class="fa-solid fa-plus me-2"></i> <!-- "me-2" adds some margin on the right side of the icon -->
                                Purchases
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" asp-action="index" asp-controller="Product">
                                <i class="fa-solid fa-warehouse me-2"></i> <!-- "me-2" adds some margin on the right side of the icon -->
                                Inventory
                            </a>
                           
                        </li>
                        <li class="nav-item ">

                            <a class="nav-link d-flex align-items-center" asp-controller="Customer" asp-action="Index">
                                <i class="fa-solid fa-users me-2"></i> <!-- "me-2" adds some margin on the right side of the icon -->
                                Customers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" href="#">
                                <i class="fa-solid fa-users-gear me-2"></i> <!-- "me-2" adds some margin on the right side of the icon -->
                                Suppliers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" href="#">
                                <i class="fa-solid fa-chart-simple me-2"></i> <!-- "me-2" adds some margin on the right side of the icon -->
                                Reports
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Main Content -->
           
                <div class="col-md-9">
                    <Center>
                      @RenderBody()
                    </Center>
                </div>
           
        </div>
    </div>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
